.GridGral {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.Normal {
    background-color: #EFF3FB;
}

    .Normal:Hover, .Alternate:Hover {
        background-color: #D1DDF1;
    }

.Alternate {
    background-color: White;
}

.GridGral tr:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 4px #666666;
}

.GridGralRow {
    background-color: White;
    height: 32px;
}

.GridGralAltRow {
    background-color: #F5F8FC;
    height: 32px;
}

.GridGralHeader {
    background-color: #1F6FB2;
    color: White;
    font-weight: bold;
    text-align: center;
    height: 35px;
}

.textoNorm {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: right;
}

.textoEmpty {
    border-collapse: collapse;
    background-color: #E7F1FF;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.textoTitCenter {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.textoTitLeft {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-align: left;
}

.textoGrid {
    border-collapse: collapse;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
}

.textoNormLeft {
    border-collapse: collapse;
    width: auto;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}

.textoNormRigth {
    border-collapse: collapse;
    width: auto;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
}

.textoGridBold {
    border-collapse: collapse;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}


.BotonPortal {
    background-color: #1F6FB2;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 8px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

    .BotonPortal:hover {
        background-color: #18578C;
        transform: translateY(-2px);
        box-shadow: 0px 4px 4px #666666;
    }

.BotonPortalVerde {
    background-color: #28A745;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

    .BotonPortalVerde:hover {
        background-color: #218838;
        transform: translateY(-2px);
        box-shadow: 0px 4px 4px #666666;
    }

.BotonPortalAzul {
    background-color: #1F6FB2;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

    .BotonPortalAzul:hover {
        background-color: #18578C;
        transform: translateY(-2px);
        box-shadow: 0px 4px 4px #666666;
    }

.BotonPortalGris {
    background-color: #6C757D;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

    .BotonPortalGris:hover {
        background-color: #545B62;
        transform: translateY(-2px);
        box-shadow: 0px 4px 4px #666666;
    }

.BotonPortalAmarillo {
    background-color: #cfae00;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

    .BotonPortalAmarillo:hover {
        background-color: #ffd806;
        transform: translateY(-2px);
        box-shadow: 0px 4px 4px #666666;
    }

.TextBoxGral {
    background-color: #E7F1FF;
    height: 25px;
    cursor: text;
    border-radius: 3px;
}

.TextBoxHora {
    background-color: #E7F1FF;
    height: 26px;
    cursor: text;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

/*tarjetas inicio*/
.PortalContainer {
    width: 98%;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
}

.PortalTitulo {
    font-size: 30px;
    font-weight: bold;
    color: #2C3E50;
    margin-bottom: 5px;
}

.PortalSubTitulo {
    color: #666666;
    margin-bottom: 25px;
    font-size: 15px;
}

.MenuGrid {
    width: 100%;
    min-height: calc(100vh - 120px);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
}

.MenuCard {
    display: block;
    width: 180px;
    height: 150px;
    background-color: #18578C;
    color: White !important;
    text-decoration: none !important;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 2px 6px #999999;
    transition: all 0.2s ease;
}

    .MenuCard:hover {
        background-color: #1F6FB2;
        transform: translateY(-3px);
        text-decoration: none !important;
        box-shadow: 0px 4px 10px #666666;
    }

.MenuCardIcon {
    font-size: 52px;
    margin-top: 25px;
}

.MenuCardText {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.GridPager {
    background: #f5f7fa;
    border-top: 1px solid #d9e2ec;
    padding: 5px;
    text-align: center;
}

    .GridPager table {
        margin: auto;
    }

    .GridPager td {
        padding: 2px;
    }

    .GridPager a {
        display: inline-block;
        min-width: 10px;
        padding: 5px;
        margin: 2px;
        text-decoration: none;
        color: #1976d2;
        border: 1px solid #1976d2;
        border-radius: 5px;
        font-weight: 400;
        font-size: 11px;
        transition: all .2s;
    }

        .GridPager a:hover {
            background: #1976d2;
            color: white;
        }

    .GridPager span {
        display: inline-block;
        min-width: 10px;
        padding: 6px;
        margin: 2px;
        background: #1976d2;
        color: white;
        border-radius: 5px;
        font-weight: 500;
        font-size: 11px;
    }

.TituloSeccion {
    background: #1976d2;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}

.TextoCentro {
    text-align: center;
    font-weight: bold;
    background: #F7F7F7;
}

.success {
    background-color: #4CAF50;
    color: #FDFEFE;
}

.info {
    background-color: #2196F3;
    color: #FDFEFE;
}

.labelBlue {
    background-color: #4682B4;
    color: #FDFEFE;
}

.warning {
    background-color: #ff9800;
    color: #FDFEFE;
}

.warningDark {
    background-color: darkmagenta;
    color: white;
}

.goldBlack {
    background-color: gold;
    color: black;
}

.danger {
    background-color: #f44336;
    color: #FDFEFE;
}

.other {
    background-color: #e7e7e7;
    color: black;
}
/*---------------------------------------
    FILEUPLOAD
----------------------------------------*/

.upload-container {
    margin: px 0;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #dfe6ec;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}

.form-control {
    width: 80%;
    max-width: 500px;
    padding: 10px;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    background: #fafafa;
    color: #444;
    font-size: 14px;
    transition: all .2s ease;
    box-sizing: border-box;
}

    .form-control:hover {
        border-color: #42a5f5;
        background: #fff;
    }

    .form-control:focus {
        outline: none;
        border-color: #1976d2;
        box-shadow: 0 0 6px rgba(25,118,210,.25);
    }
