USE [DB_RRHH]
GO
/****** Object:  User [user_abas]    Script Date: 02-06-2026 22:22:13 ******/
CREATE USER [user_abas] FOR LOGIN [user_abas] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [user_abas]
GO
/****** Object:  Table [dbo].[M_PERSONAS]    Script Date: 02-06-2026 22:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_PERSONAS](
	[IDPERSONA] [int] IDENTITY(1,1) NOT NULL,
	[RUT] [int] NOT NULL,
	[DV] [char](1) NOT NULL,
	[NOMBRE] [varchar](400) NOT NULL,
	[NOMBRE_SOCIAL] [varchar](200) NULL,
	[AP_PATERNO] [varchar](200) NOT NULL,
	[AP_MATERNO] [varchar](200) NULL,
	[FECHA_NACIMIENTO] [datetime] NULL,
	[SEXO] [varchar](1) NULL,
	[DIRECCION] [varchar](400) NULL,
	[IDREGION] [int] NULL,
	[IDCOMUNA] [int] NULL,
	[IDPREVISION] [int] NULL,
	[FONO1] [int] NULL,
	[OBS_FONO1] [varchar](100) NULL,
	[FONO2] [int] NULL,
	[OBS_FONO2] [varchar](100) NULL,
	[EMAIL] [varchar](200) NULL,
	[OBSERVACION] [varchar](500) NULL,
	[IDESTADO] [int] NOT NULL,
	[IDUSERCREA] [int] NOT NULL,
	[F_H_CREA] [datetime] NOT NULL,
	[IDUSERMOD] [int] NULL,
	[F_H_MOD] [datetime] NULL,
 CONSTRAINT [PK_M_PERSONAS] PRIMARY KEY CLUSTERED 
(
	[IDPERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_M_PERSONAS_RUT] UNIQUE NONCLUSTERED 
(
	[RUT] ASC,
	[DV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[M_PERSONAS] ADD  DEFAULT ((1)) FOR [IDESTADO]
GO
ALTER TABLE [dbo].[M_PERSONAS] ADD  DEFAULT (getdate()) FOR [F_H_CREA]
GO
