USE [rrhhloes_]
GO
/****** Object:  StoredProcedure [dbo].[PU_ELIMINA_SINCRONIZACION]    Script Date: 24-09-2026 23:21:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[PU_ELIMINA_SINCRONIZACION]
    @IDSINCRONIZA INT,
    @IDUSUARIO INT
AS
BEGIN
/*
	SP que Elimina una sincronizacion, (idestado = 3) y elimina los registros asociados a esa sincronizacion en m_marcaciones
	John Vaccarella V.
	23/09/2026
	exec PU_ELIMINA_SINCRONIZACION 15,1225
*/
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @MENSAJE VARCHAR(800);

    BEGIN TRY

        /* Validar que exista y esté activa */
        IF NOT EXISTS
        (
            SELECT 1
            FROM dbo.M_SINCRONIZACION
            WHERE IDSINCRONIZA = @IDSINCRONIZA AND IDESTADO = 1              
        )
        BEGIN
            SELECT
                0 AS IDESTADO,
                'La sincronización no puede ser eliminada, si esta cerrada o Eliminada previamente...' AS MENSAJE;
            RETURN;
        END;

        /* Validar que no existan marcas modificadas */
        IF EXISTS
        (
            SELECT 1
            FROM dbo.M_MARCACIONES
            WHERE IDSINCRONIZA = @IDSINCRONIZA AND ISNULL(IDESTADO,1) <> 1
        )
        BEGIN
            SELECT
                0 AS IDESTADO,
                'No se puede eliminar la sincronización porque contiene marcas modificadas y/o editadas.' AS MENSAJE;
            RETURN;
        END;

        BEGIN TRANSACTION;

        /* Eliminar marcas de la sincronización */
        DELETE FROM dbo.M_MARCACIONES
        WHERE IDSINCRONIZA = @IDSINCRONIZA;

        /* Marcar sincronización como eliminada */
        UPDATE dbo.M_SINCRONIZACION
        SET IDESTADO = 3,
            F_H_ELIM = GETDATE(),
            IDUSELIM = @IDUSUARIO
        WHERE IDSINCRONIZA = @IDSINCRONIZA;

        COMMIT TRANSACTION;

        SELECT
            1 AS IDESTADO,
            'Sincronización eliminada correctamente.' AS MENSAJE;

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @MENSAJE = ERROR_MESSAGE();

        RAISERROR(@MENSAJE,16,1);
        RETURN;

    END CATCH
END