USE [rrhhloes_]
GO
/****** Object:  StoredProcedure [dbo].[PU_SINCRONIZA_MARCAS_RELOJ]    Script Date: 22-09-2026 21:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[PU_SINCRONIZA_MARCAS_RELOJ]
    @IDRELOJ INT,
    @F_H_INICIO DATETIME,
    @F_H_FIN DATETIME,
    @IDUSUARIO INT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @IDSINCRONIZA INT;
    DECLARE @CANT_LEIDA INT = 0;
    DECLARE @CANT_INSERT INT = 0;

    SET @F_H_INICIO = CONVERT(DATETIME, @F_H_INICIO + ' 00:00:00');
    SET @F_H_FIN = CONVERT(DATETIME, @F_H_FIN + ' 23:59:59');

    BEGIN TRY
		/* ========================================================= 
		1. VALIDAR PERIODO 
		========================================================= */
        IF @F_H_INICIO > @F_H_FIN
        BEGIN
            RAISERROR('La fecha de inicio no puede ser mayor a la fecha de fin.',16,1);
            RETURN;
        END;
		/* ========================================================= 
		2. VALIDAR SI EL PERIODO YA FUE SINCRONIZADO 
		========================================================= */
        IF EXISTS
        (
            SELECT 1
            FROM dbo.M_SINCRONIZACION
            WHERE IDRELOJ = @IDRELOJ
              AND F_H_INICIO = @F_H_INICIO
              AND F_H_FIN = @F_H_FIN
              AND IDESTADO <> 3
        )
        BEGIN
            RAISERROR('El periodo indicado ya fue sincronizado para este reloj.',16,1);
            RETURN;
        END;

        /* ========================================================= 
		3. CONTAR MARCAS A PROCESAR 
		========================================================= */
        SELECT @CANT_LEIDA = COUNT(*)
        FROM dbo.M_MARCA_RELOJ MR
        WHERE MR.IDRELOJ = @IDRELOJ
          AND MR.IDESTADO = 1
          AND DATETIMEFROMPARTS(MR.[YEAR],MR.[MONTH],MR.[DAY],MR.[HOUR],MR.[MINUTE],MR.[SECOND],0) >= @F_H_INICIO
          AND DATETIMEFROMPARTS(MR.[YEAR],MR.[MONTH],MR.[DAY],MR.[HOUR],MR.[MINUTE],MR.[SECOND],0) <= @F_H_FIN;

		/* No registrar sincronización si no existen marcas */
        IF @CANT_LEIDA = 0
        BEGIN
            SELECT NULL AS IDSINCRONIZA,0 AS CANT_LEIDA,0 AS CANT_INSERT, 
			1 AS IDESTADO,'No existen marcas para el período seleccionado.' AS MENSAJE;
            RETURN;
        END;

        /* ========================================================= 
		4. CREAR CABECERA DE SINCRONIZACION CON Transact
		========================================================= */
        BEGIN TRANSACTION;

        INSERT INTO dbo.M_SINCRONIZACION
        (
            IDRELOJ,F_H_INICIO,F_H_FIN,CANT_LEIDA,CANT_INSERT,
            MNS_ERROR,IDESTADO,IDUSUARIO
        )
        VALUES
        (
            @IDRELOJ,@F_H_INICIO,@F_H_FIN,@CANT_LEIDA,0,
            NULL,1,@IDUSUARIO
        );

        SET @IDSINCRONIZA = SCOPE_IDENTITY();
		/* ========================================================= 
		5. INSERTAR MARCAS 
		========================================================= */
        INSERT INTO dbo.M_MARCACIONES
        (
            IDSINCRONIZA,IDRELOJ,CODIGO_EMP_RELOJ,F_H_MARCA,
            TIPO_MARCA,F_H_CARGA,TIPO_CARGA,OBSERVACIONES
        )
        SELECT
            @IDSINCRONIZA,
            MR.IDRELOJ,
            MR.ENROLLNUMBER,
            DATETIMEFROMPARTS(MR.[YEAR],MR.[MONTH],MR.[DAY],MR.[HOUR],MR.[MINUTE],MR.[SECOND],0),
            MR.INOUTMODE,
            GETDATE(),
            1,
            'Carga desde reloj'
        FROM dbo.M_MARCA_RELOJ MR
        WHERE MR.IDRELOJ = @IDRELOJ
          AND MR.IDESTADO = 1
          AND DATETIMEFROMPARTS(MR.[YEAR],MR.[MONTH],MR.[DAY],MR.[HOUR],MR.[MINUTE],MR.[SECOND],0) >= @F_H_INICIO
          AND DATETIMEFROMPARTS(MR.[YEAR],MR.[MONTH],MR.[DAY],MR.[HOUR],MR.[MINUTE],MR.[SECOND],0) <= @F_H_FIN
          AND NOT EXISTS
          (
              SELECT 1
              FROM dbo.M_MARCACIONES MC
              WHERE MC.IDRELOJ = MR.IDRELOJ
                AND MC.CODIGO_EMP_RELOJ = MR.ENROLLNUMBER
                AND MC.F_H_MARCA = DATETIMEFROMPARTS(MR.[YEAR],MR.[MONTH],MR.[DAY],MR.[HOUR],MR.[MINUTE],MR.[SECOND],0)
          );

        SET @CANT_INSERT = @@ROWCOUNT;

        IF @CANT_INSERT = 0
        BEGIN
            ROLLBACK TRANSACTION;

            SELECT NULL AS IDSINCRONIZA,
                   @CANT_LEIDA AS CANT_LEIDA,
                   0 AS CANT_INSERT,
                   1 AS IDESTADO,
                   'No existen marcas nuevas para registrar en el período seleccionado.' AS MENSAJE;
            RETURN;
        END;
		/* ========================================================= 
		6. ACTUALIZAR RESULTADO 
		========================================================= */
        UPDATE dbo.M_SINCRONIZACION
        SET CANT_INSERT = @CANT_INSERT,
            IDESTADO = 1
        WHERE IDSINCRONIZA = @IDSINCRONIZA;

        COMMIT TRANSACTION;

		/* ========================================================= 
		7. DEVOLVER RESULTADO 
		========================================================= */
        SELECT @IDSINCRONIZA AS IDSINCRONIZA,
               @CANT_LEIDA AS CANT_LEIDA,
               @CANT_INSERT AS CANT_INSERT,
               1 AS IDESTADO,
               'Sincronización realizada correctamente.' AS MENSAJE;

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @MENSAJE VARCHAR(800);
        SET @MENSAJE = ERROR_MESSAGE();

		/* Si la cabecera alcanzó a crearse, dejamos registrada la ejecución como error. */
        IF @IDSINCRONIZA IS NOT NULL
        BEGIN
            UPDATE dbo.M_SINCRONIZACION
            SET F_H_FIN = GETDATE(),
                MNS_ERROR = @MENSAJE,
                IDESTADO = 3
            WHERE IDSINCRONIZA = @IDSINCRONIZA;
        END;

        RAISERROR(@MENSAJE,16,1);
        RETURN;

    END CATCH
END